.button-resposta{
    display: block;

    height: 7.25vh;
    width: 51vw;

    margin: 2%; 
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    
    padding-left:  0.8vw;

    font-size: 1.6vw;
    color: #151B17;
    text-align: left;

    background-color: rgba(246, 251, 255, 0.281);

    border:#c4c0c0a1 solid 0.15px;
    border-radius: 8px;

    box-shadow: rgba(223, 222, 222, 0.3) 0px 0.75px 1px 0px, rgba(204, 209, 212, 0.226) 0px 2px 6px 2px;
}


.button-resposta:hover{
    background-color: #ebe9e971;
}

.span-resposta{
    padding-top: 2%;
    margin-left: 10vw;
}

.swal2-confirm{
    width: 32vmin;
}

.swal2-cancel{
    width: 32vmin;
}

.swal2-cancel:focus{
    box-shadow: 0 0 0 3px rgba(147, 148, 150, 0.5) !important;
}
