#area-botao{
  margin-top: 1.85vh;
  padding-left: 35vw;
  display: inline-block;
}

.botao-proxima-pagina {
    align-items: center;
    appearance: none;
    background-color: var(--laranja-destaque);
    border-radius: 24px;
    border-style: none;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-weight: 500;
    font-size: 1.15vw;
    height: 6.5vh;
    width: 14.5vw;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform, opacity;
    z-index: 0;
}
  
.botao-proxima-pagina:hover{
  background-color: var(--laranja-destaque-hover);
}

.botao-proxima-pagina:disabled{
  pointer-events: none;
  background-color: var(--cinza);
}