@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');

body{    
    background-color: #087EA4;
    height: 96vh;
    position: relative;
    font-family: 'Urbanist', sans-serif;
}